/*----- Navbar Start -----*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Chewy|Luckiest+Guy|Mansalva&display=swap');
#main-navbar-body {
    padding: 20px;
}
#logo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#main-menu-logo {
    font-family: "Chewy", sans-serif;
    font-size: 45px;
}
#keto-heart-cart-image {
    width: 100px;
    height: 100px;
}
/* Links */
#main-hamburger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.main-hamburger-link {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-family: "Raleway",sans-serif;
    font-size: 24px;
}
/* Links End */
/*----- Navbar End -----*/

/*----- Main Body Start -----*/
#landing-section {
    margin: 20px;
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(./images/landing-page-slider/slide-one.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Chewy', sans-serif;
    font-size: 3.25vw;
    color: red;
    transition: all 0.25s;
}
button {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    width: 12vw;
    height: 5vw;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
}
#body-display-squares-section {
margin: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
}
#body-display-square-one {
    width: 50vw;
    height: 50vw;
    background: url(./images/KetoTech-2.PNG);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 10px;
}
#body-display-square-one-h1 {
    font-family: "Chewy", sans-serif;
    font-size: 4vw;
    color: red;
}
#body-display-square-one-p {
    font-family: "Raleway",sans-serif;
    font-size: 3vw;
    text-align: center;
    color: red;
}
#body-display-square-two {
    width: 50vw;
    height: 50vw;
    background: url(./images/KetoRecipe1.PNG);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 10px;
}
#body-display-square-two-h1 {
    font-family: "Chewy", sans-serif;
    font-size: 4vw;
    color: white;
}
#body-display-square-two-p {
    font-family: "Raleway",sans-serif;
    font-size: 3vw;
    text-align: center;
    color: white;
}
#body-display-square-three {
    width: 50vw;
    height: 50vw;
    background: url(./images/KetoRecipe1.PNG);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 10px;
}
#body-display-square-three-h1 {
    font-family: "Chewy", sans-serif;
    font-size: 4vw;
    color: white;
}
#body-display-square-three-p {
    font-family: "Raleway",sans-serif;
    font-size: 3vw;
    text-align: center;
    color: white;
}
#body-display-squares-section-two {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    }
    
    #body-display-squares-section-two {
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        }
        #body-display-square-four {
            width: 50vw;
             height: 50vw;
            background: url(./images/KetoRecipe1.PNG);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-left: 10px;
        }
        #body-display-square-four-h1 {
            font-family: "Chewy", sans-serif;
            font-size: 4vw;
            color: white;
        }
        #body-display-square-four-p {
            font-family: "Raleway",sans-serif;
            font-size: 3vw;
            text-align: center;
            color: white;
        }
/*----- Main Body End -----*/