@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Baloo+Chettan|Dancing+Script|Pacifico|Permanent+Marker|Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|Crimson+Pro|Crimson+Text|Dosis|Grenze|Lacquer|Lora|Muli|PT+Serif&display=swap');
.all-content {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

@media (max-width: 600px) {
    .all-content {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0px;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }

    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: whitesmoke;
    }
}

body {
}

#navbar-body {
    width: 100%;
    z-index: 1;
    height: 50px;
    background-color: grey;
    border: 2px black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    top: 0;

}

.sticky {

    width: 100%;
}

#HamburgerMenu {
    background: rgb(185, 185, 185);
    width: 100%;
    height: 0px;
    -webkit-transition: all 0.75s;
    /* Safari prior 6.1 */
    transition: all 0.75s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    position: inherit;
    z-index: 0;
    overflow: hidden;
    margin-bottom: -10%;

    

}

.hamburger-link {
    padding-right: 5vh;
    font-size: 5vh;
    color: white;
    text-decoration: none;
    font-family: 'Amatic SC';
    margin-top:-10%;
    padding-bottom: -20%;
}

#keto-menu-logo {
    font-family: 'Amatic SC';
    font-size: 7.5vh;
    padding-bottom: 2.5%;
}

/* Amatic+SC|Baloo+Chettan|Dancing+Script|Pacifico|Permanent+Marker|Shadows+Into+Light */
#cart-logo {
    width: 7.5vh;
    height: 7.5vh;

}

#landerImage {
    transition: background-image 2s;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200vh;
    background-position: center;
    position: fixed;
}
@media ( min-width:650px ){
    #landerImage {
        transition: background-image 2s;
        background-size: cover;
        background-position-y: 80%;
    background-repeat: no-repeat;
        position: fixed;
    }   
}

#cardArea {

    width: 100%;
    height: 80vh;
    margin-top: 35%;

}

.col .s12 .m7 {
    margin-top: 20vh;
}
.Card-Header {
font-family: 'Beth Ellen';
}
.Card-Description {
font-family: 'Lora';
}
/* Headers --- Lacquer|Beth+Ellen|Amatic+SC|Baloo+Chettan|Dancing+Script|Pacifico|Permanent+Marker|Shadows+Into+Light */
/* Descriptors --- Crimson+Pro|Crimson+Text|Dosis|Grenze|Lora|Muli|PT+Serif*/